*{
	/*background-color: #000;*/
	color: #fff;
}
.color-shell{
	color: #59AA02;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #000;

}
.jumbotron{
background-color: #000;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #0f0f0f;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.nav-tabs>li>a:hover{
	background-color: #0a0a0a;
	border: solid 1px #0e110e;
}
