@import "variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "theme";



*{
	box-sizing:border-box;
}
html {
  position: relative;
  min-height: 100%;
}

$themeBg:#763568;
$contentBg:rgba(138, 102, 144, 0.28);
$primaryText:#FDE3A7;

body{
	background-color:$themeBg;
	font-family: 'Lato', sans-serif;
	color:$primaryText;
	  margin-bottom: 60px;
}
@import "footer";

h1,h2,h3{
	//color:$primaryText;
}
.home-conatiner{
	margin : 5px auto;
	text-align:center;
	padding:10% 3%;

}

.navbar-brand{
	    font-size: 2.5em ;
	    font-family: 'Lato', sans-serif;
}
.logo-text{
	color:$primaryText;
	background-color:$contentBg;
	border-radius:0px 0px 10px 10px;
	&:link{
		color: $primaryText;
	}
	&:hover{
		color:gold;
		background-color:rgba(100, 100, 100, 0.28);
	}
}
.primaryNav{
	background-color:$contentBg;
	border-radius:0px 0px 10px 10px;
	li:first-child{
		a{
			border-radius:0px 0px 0px 10px;
		}
	}
	li:last-child{
		a{
			border-radius:0px 0px 10px 0px;
		}
	}

}

// Thumbnails on tools
.thumbnail{
	img{
		min-height: 150px;
		max-height: 150px;
		text-align: center;
	}
}

p{
	
	font-size:1.2em;		
}

.test {
	min-height:500px;
  transition: all 2s ease;

}
.test-enter, .test-leave {
  opacity: 0;
  transform: translate3d(10px, 0, 0);
}