@import "variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "theme";



*{
	box-sizing:border-box;
}

$themeBg:#763568;
$contentBg:rgba(39, 174, 96,1.0);
$primaryText:#FDE3A7;

body{
	background-color:$themeBg;
	font-family: 'Lato', sans-serif;
	color:$primaryText;
}
h1,h2,h3{
	color:$primaryText;
}
.home-conatiner{
	margin : 5px auto;
	text-align:center;
	padding:10% 3%;
}

.navbar-brand{
	    font-size: 2.5em ;
	    font-family: 'Lato', sans-serif;
}
.logo-text{
	color:$primaryText;
	&:link{
		color: $primaryText;
	}
	&:hover{
		color:gold;
	}
}

p{
	
	font-size:1.2em;		
}

.test {
	min-height:500px;
  transition: all 2s ease;

}
.test-enter, .test-leave {
  opacity: 0;
  transform: translate3d(10px, 0, 0);
}