.img-avatar {
    width: 128px;
    height: auto;
    text-align: center;
}

.container {
    max-width: $max-width;
    margin: 0 auto;
    overflow: hidden;

}

.contact__box {
    padding: 5rem 0;
    text-align: center;
    a,a:visited,a:link {
        text-transform: uppercase;
    }

}

.header__contact {
    text-align: center;
}

//
// Section

.section__projects {
    margin-top: 5rem;
}

.project__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.project__item {
   flex-basis: 32.3%;
   border: 1px solid #ddd;
   padding: 5rem;
   margin-top: 1.5rem;
   margin-left: 1.5rem;
   text-align: center;
   color: #efefef;
   border-radius: 3px;
   box-shadow: 0px 3px 10px #ddd;
   transition: all 0.2s ease-in-out;
   a,a:link,a:visited {
       color: #ddd;
   }

   &--stack {
       font-size: 1.2rem;
       padding-top: 1rem;
       color: #efefef;
   }
}

.project__item:nth-child(3n+1), .project__item:first-child {  /* or 4n+1 */
    margin-left: 0; 
}

.project__item:hover {
    transform: scale(1.02) translateY(-2px);
    box-shadow: 0px 10px 20px #cecece;
}

.footer {
    background-color: #f0f0f0;
    font-size: 15px;
    margin-top: 5rem;
    color: #aaa;
    padding: 1rem 0;
}

@media only screen and (max-width: $bp_tab) {

    .project__item { 

        font-size: 2.2rem;
        padding: 3rem;
    }

}

@media only screen and (max-width: $bp_mobile) { 
    .project__item {
        flex-basis: 100%;
        font-size: 3rem;
        margin-left: 0;
    }
}

@media only screen and (max-width: $max-width) {
    .container {
        padding: 1rem;
    }
}