.img-avatar {
    width: 128px;
    height: auto;
    text-align: center;
}

.container {
    max-width: 1024px;
    margin: 0 auto;

}

.contact__box {
    padding: 5rem 0;
    text-align: center;
    a,a:visited,a:link {
        text-transform: uppercase;
    }

}
