.logo__path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1200;
    animation: dash 8s linear forwards;
    
}
svg {
    transition: all 0.3s ease-in-out;
}

svg:hover{
    transform: translateY(-6px);
}

@keyframes dash {
    to {
        stroke-dashoffset: 50;
        stroke-dasharray: none;
    }
  }