.ribbon {
    position: absolute;
    right: 0;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.5rem;
    padding: 2rem;
    width: 400px;
    text-align: center;
    position: absolute;
    display: inline-block;
    top: 30px;
    right: -110px;
    float: right;
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    &.yep {
        background: #00b09b;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    &.nope {
        background: #ee0979;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    &.loading {
        
        -webkit-animation: flip-2-hor-bottom-bck 0.5s infinite ease both;
	        animation: flip-2-hor-bottom-bck 0.5s infinite ease both;
    }
  }
  
  @media  (max-width:$bp_mobile){
  .ribbon{
    font-size: 1.7rem;
    padding: 7px;
    width: 215px;
    top: 15px;
    right: -15px;
    transform: rotate(27deg);
    text-align: center;
  }
  }

  @-webkit-keyframes flip-2-hor-bottom-bck {
    0% {
      -webkit-transform: scale(1.2) rotate(40deg);
              transform: scale(1.2) rotate(40deg);

    }
    100% {
      -webkit-transform: scale(1) rotate(0);
              transform: scale(1) rotateX(40deg);

    }
  }
  @keyframes flip-2-hor-bottom-bck {
    0% {
      -webkit-transform: scale(1.2) rotate(40deg);
              transform: scale(1.2) rotate(40deg);

    }
    100% {
      -webkit-transform: scale(1) rotate(40deg);
              transform: scale(1) rotate(40deg);

    }
  }
  