.form-goup:not(:last-child){
    margin-bottom: 2rem;
}

.form__label {
    font-size: 1.2rem;
    color: #aaa;
}
input[type="text"], input[type="email"], input[type="number"] , textarea {
    padding: 1rem;
    font-size: 1.5rem;
    color: #3e3e3e;
    border: 1px solid #ededed;
    width: 100%;
    border-radius: 3px;
    &:focus,:active {
        box-shadow: 0px 1px 2px #ddd;
        outline: none;
    }

    
}

.block {
    display: block;
}

.btn {
    background: #fff;
    color: #4e4e4e;
    padding: 1rem .5rem;
    border: 1px solid #eee;
    border-radius: 5px;
    outline: none;
    transition: transform 0.2s ease-in;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &:hover {
        // transform: translateY(-1px);
        box-shadow: 0px 3px 10px #eee;
    }
    &:disabled  {
        background-color: #e5e5e5;
        box-shadow: none;
    }

    &.btn-border {
        border: 1px solid #673AB7;
        color: #673AB7;
        font-weight: 700;
        &:hover {
            // transform: translateY(-1px);
            box-shadow: 0px 5px 10px #eee;
        }

        &.btn-border-danger {
            border-color: #F44336;
            color: #F44336;
        }
    }
    
}

.btn--big {
    cursor: pointer;
    padding: 2rem;
    color: #fff;
    font-size: 1.5rem;
    border: 1px solid darken(#E100FF,5%);
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    &:hover {
        transform: translateY(-2px);
        box-shadow: 5px 10px 20px #c8c8c8;
    }
}