.bg__purple--pink {
    background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg__pink--rose {
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg__sky {
    background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #6244e5, #608af8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #6244e5,#608af8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg__crimson--tide {
    background: #642B73;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg__green--dream {
    background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #0da354, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #0da354, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}