*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import './_variables.scss';

@import './base/_base.scss';
@import './base/_forms.scss';

// Pages
@import './pages/_home.scss';

// Utils
@import './_backgrounds.scss';

// Components
@import './components/_ribbon.scss';
@import './components/_modal.scss';

.contact__footer {
    display: flex;
    button {
        flex-grow: 1;
    }
}