<!-- Contact page template -->
 <div class="row">
 	
	<div class="col-md-10 col-md-offset-1">
	<div class="page-header blue-tr-border">
			<h1>Contact Me</h1>
		</div>
		<!--  -->
		<div class="container-fluid "> <!--inner container  -->
		<div class="col-md-8 service-box" style="padding-top:2.5%">
		<p style="display:<%= sended ? 'block' : 'none' %>">

		Thank you for Contacting me. <a data-internal="true" href="#contact/edit">Edit</a>		</p>
		<!--  -->
		<form class="form-horizontal" style="display:<%= sended ? 'none' : 'block' %>">
			<div class="form-group" >
				<label class="control-label col-md-3">Name : </label>
				<div class="col-md-8">
					<input type="text" name="name" id="name" class="form-control" value="<%= name%>" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3">E-mail : </label>
				<div class="col-md-8">
					<input type="text" name="email" id="email" class="form-control" value="<%= email%>" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3">Phone : </label>
				<div class="col-md-8">
					<input type="text" name="phone" id="phone" class="form-control" value="<%= phone%>" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-3">Message : </label>
				<div class="col-md-8">
					<textarea name="note" id="note" class="form-control" ><%= note%></textarea>
				</div>
			</div>
			<div class="form-group">
				<div  class="col-md-8 col-md-offset-3">
					<button type="button" class="btn btn-success" id="submit" >Send <img style="display:none" class="load-img" src="images/loading.gif"></button>
				</div>
				
			</div>
		</form>
		</div>
		<div class="col-md-4">
			<h2>Like what you see? Let's talk!</h2>
<blockquote>
	Please send me a message if you have any questions for me. I'll try my best to get back to you within 2 business days.
</blockquote>

		</div>
		</div><!-- End Inner Container  -->
	</div>
</div>