<div class="row" style="margin-top: 10%;
">
            <div class="col-md-12" style="text-align:center;">

            
                <span style="color:yellow"  class="fa fa-lightbulb-o fa-5x" data-xrange="140" data-yrange="160"></span>

                <h1 class="rs-h1">Hi, I'm Sarath! </h1>
                <h3 class="rs-h3" title="Web Developer">{ Web Developer }</h3>
                <h3 class="rs-h3" title="I Love finding bugs and compromising security of computers, websites and network.">&lt Hacker &gt;</h3>
                <h4 class="my-message" >I build web based software that makes it easy to connect, share, explore and fun.<br/>I love the web. I hope that you like too.</h4>
                <a data-internal="true" href="services" class="btn btn-success">Learn more</a>
                <p>If you've got a problem that you want me to solve, then contact me. Interesting cases only please.</p>

            </div>
        </div>