<div class="row">
	<div class="col-md-10 col-md-offset-1 ">
		<div class="page-header blue-tr-border"  >
			<h1>Services</h1>
		</div>
		<div class="container-fluid service-box">
			<div class="row">
				<div class="col-md-4 ">
					<h3><img class="service-img" src="images/design.png">Web Development</h3>
					<p>Build custom Web applications with a powerful functionality to retain more clients or optimize internal processe. <span ><a class="btn btn-link" href="#services/web-dev">Read more..</a></span></p>

				</div>
				<div class="col-md-4">
					<h3><img class="service-img" src="images/design_2.png">Web Design</h3>
					<p>
All web communications I create is 100% responsive. Meaning they are  perfect on any type of device or any screen size. 
After creating your hand coded web app (website), on-going maintenance is available.</p>
				</div>
				<div class="col-md-4">
					<h3><img class="service-img" src="images/knife.png">Application Testing</h3>
					<p>
						I Love finding bugs. provide penetration tests, source code audit and vulnerability assessment.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h3><img class="service-img" src="images/web.png">Social Integration</h3>
					<p>
						Facebook,Twitter, Google+ Integration. oAuth Services. Youtube, Flicker, Dropbox, Instagram, SoundCloud API, Google APIs, Google Maps Integration.
					</p>
				</div>
				<div class="col-md-4">
					<h3><img class="service-img" src="images/mobile.png">Mobile Applications</h3>
					<p>Keep up with trends to derive profit instead of missing out in the highly populated mobile environment.
					<span class="text text-danger">**Expreimental</span>
					</p>
				</div>
				<div class="col-md-4">
					<h3><img class="service-img" src="images/web.png">SEO </h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</div>
			</div>
		</div>
	</div>
</div>